<section *ngIf="exercises$ | async as exercises" class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f.value.exercise)" #f="ngForm" fxFill fxLayoutAlign="center">
        <mat-card fxFlex.lt-sm="100%" fxFlex="40%">
            <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field>
                    <mat-select placeholder="Select type of exercise" ngModel name="exercise" required>
                        <mat-option *ngFor="let exercise of exercises" [value]=exercise.id>{{ exercise.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-button [disabled]="f.invalid">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>