<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm the sidenav</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <ng-container>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>

      <ng-container>
        <a routerLink="/">LOGO</a>
      </ng-container>

      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/login/signup">Signup</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
