<mat-nav-list>
    <mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </mat-list-item>

    <mat-list-item routerLink="/login/signup" (click)="onClose()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </mat-list-item>

    <mat-list-item routerLink="/training" (click)="onClose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
    </mat-list-item>

    <mat-list-item (click)="onClose()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
    </mat-list-item>
</mat-nav-list>