<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <ng-container>
        <a routerLink="/home">LOGO</a>
    </ng-container>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
            <li *ngIf="!this.isAuthenticated"><a routerLink="/login">Login</a></li>
            <li *ngIf="!this.isAuthenticated"><a routerLink="/login/signup">Signup</a></li>
            <li *ngIf="this.isAuthenticated"><a routerLink="/training">Training</a></li>
            <li *ngIf="this.isAuthenticated"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>