<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <ng-container>
        <a routerLink="{{ route.HOME }}">LOGO</a>
    </ng-container>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
            <ng-container *ngIf="isAuthenticated$ | async; then loggedIn; else notLoggedIn"></ng-container>

            <ng-template #notLoggedIn>
                <li><a routerLink="{{ route.LOGIN }}">Login</a></li>
                <li><a routerLink="{{ route.SIGNUP }}">Signup</a></li>
            </ng-template>

            <ng-template #loggedIn>
                <li><a routerLink="{{ route.TRAINING }}">Training</a></li>
                <li><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
            </ng-template>
        </ul>
    </div>
</mat-toolbar>