<ng-container *ngIf="!(isTraining$ | async) then newTraining; else training"></ng-container>

<ng-template #newTraining>
    <mat-tab-group>
        <mat-tab label="New Training">
            <aft-new-training></aft-new-training>
        </mat-tab>
        <mat-tab label="Past Exercises">
            <aft-past-training></aft-past-training>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<ng-template #training>
    <aft-current-training *ngIf="isTraining$ | async"></aft-current-training>
</ng-template>